.DS_Store
.obsidian/workspace
.obsidian/graph.json
.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/app.json
.obsidian/workspace-mobile.json
.trash/*
src/.idea/
src/codenotes.iml
src/out/*
